.cproject*
.frama-c/*
.project*
.settings*
build/*
cmake-build-debug

*.o
*sync-conflict*
*syncthing*
*fasl
*.kate-swp
*.old
*.uuid

GRTAGS
GTAGS
GPATH
.idea
.vscode
byteswap_world
genera
glob
vlm.frama*
vlm.kdev*
