*sync-conflict*
*kate-swp
.kdev4/*

build/*
cmake-build-debug/*
CMakeFiles/*

*.o

CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile

GRTAGS
GTAGS
GPATH
.idea
.vscode
*.fasl
*.uuid
*.old
/byteswap_world
/genera
/glob
